.page-container {
  display: flex;
  flex-direction: column;
}


.hero-section {
  background: url("https://s3-us-west-2.amazonaws.com/krista-anne/sea_trans.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.hero-name {
  }

.page-section {
  background-color: #B0B0B0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


#animation-1, 
.info-box-1, 
#info-box-2, 
#info-box-3 {
  margin: 30px;
}

.border-box {
  border: 3px solid #3E82FF;
}

#animation-1 {
  height: 400px;
  width: 200px;
  margin-top: 20px;
}


.info-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 300px;
  width: 300px;
  align-self: flex-end;
}

.info-box-text {
  padding: 10px 20px 20px 10px;
}

#info-box-2 {
  height: 200px;
}

/*-----second section------*/


#my-photo,
#animation-2 {
  margin: 30px;
}

#my-photo {
  margin-top: 40px;
  height:200px;
  width: 200px;
  background: url("https://s3-us-west-2.amazonaws.com/krista-anne/krista_anne_headshot_blue.jpg") no-repeat center center;
  background-size: cover;
}

#animation-2 {
  height: 400px;
  width: 200px;
  margin-top: 20px;
}


   /*  -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 2;
    -moz-animation-timing-function: ease-in-out;
  }

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
};*/
